# Use Docker environment
sudo: false

# Setup build matrix
language: php
php:
  - 5.6
  - 7.0

env:
  matrix:
    - PREFER_LOWEST="--prefer-lowest"
    - PREFER_LOWEST=""

# Dependencies
before_install:
  - composer self-update

install:
  - travis_retry composer update --no-interaction --prefer-source $PREFER_LOWEST

script:
  - composer test
  - composer lint -- --dry-run

# Cache dependencies
cache:
  directories:
    - vendor
    - $HOME/.composer/cache
